.container:nth-child(1){
    margin-top: 90px;
}

.empty-box {
    margin-top: 120px;
}
.cut {
/* background-color: burlywood; */
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 0px;
right: 0px;
cursor: pointer;
}
.cut:hover .img-cut {
    background-color: rgba(235, 232, 232, 0.667);
    transition: all 0.5s ease-in-out;
    opacity: 60%;
}

.img-cut {
    width: 10px;
    height: 10px;
    opacity: 20%;
}
.empty-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.icon-box {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-text {
    font-weight: bold;
    color: #435355;

}
.empty {
    width: 265px;
    height: 265px;
    transform: rotate(-10deg);
    opacity: 20%;
}
.continue {
    background-color: #435355;
    color: whitesmoke;
    padding: 11px 40px;
    border-radius: 30px;
}
.continue:hover {
    background-color: #435355;
    color: whitesmoke;

}
.extra {
    margin-top: 13px;
  }
.clear {
    background-color: whitesmoke;
    color: #435355;
    border: 2px solid #435355;
    width: 230px;
    border-radius: 50px;
}